*{
    font-family: 'Recursive', sans-serif;
}

.prequiz-form{
    width: 60%;
    min-width: 40%;
    margin: 80px auto;
    border: 1px solid rgb(84 200 255);
    border-radius: 6px;
    padding: 20px;
}